.bg-image {
    background-image: url('/workspaces/portfolio/src/assets/background.png');
    background-size: cover;
    background-size: 110% auto;
    background-size: 100vw 100vh;
  }

  .bg-image {
    background-attachment: fixed;
  }
  